<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Lista de usuarios</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">ID</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th class="text-right">Ciudad</th>
                    <th class="text-right">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td class="text-center">{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td class="text-right">&euro; {{user.address.city}}</td>
                    <td class="td-actions text-right">
                      <button mat-raised-button type="button" class="btn btn-info fila05">
                        <i class="material-icons">person</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-success fila05">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-danger fila05">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>